/*  your css code here. If applicable */
body{
	text-align:center;
	background-color#f5f5f5;
}
h2{
	background-color:#011e29;
	color:#fff;
	padding:10px;
}
.container{
	display:flex;
	align-items:space-evenly;
	padding:10px;
	gap:10px;
	text-align:center;
}
.latest-news-section{
	background-color:#fff;
	padding:10px;
	width:25%;
	border-radius:20px;
	height:fit-content;
}
.item2{
	background-color:#fff;
	padding:10px;
	width:50%;
	border-radius:20px;
	height:fit-content;
}
.pictorial-news-section{
	background-color:#fff;
	padding:10px;
	width:25%;
	border-radius:20px;
	height:fit-content;

/* 	for photos */
	display:flex;
	flex-direction:column;
	align-tems:center;
	gap:10px;
/* 	justify-content:space-around; */

	
}

img{
	width:150px;
	height:auto;
}